.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  width: 450px;
  height: 600px;
  background: linear-gradient(120deg, rgba(248,142,154,1) 0%, rgba(240,13,126,1) 80%);
  border-radius: 20px;
}

.profile-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.profile-header button {
  background-color: white;
  border-radius: 14px;
  border-style: none;
  color: black;
  font-family: poppins;
  font-size: 16px;
  font-weight: 700;
  height: 46px;
  width: 130px;
  transition: ease-in-out 0.6s;
}

.profile-header button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgb(216, 213, 213);
}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-info {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  align-items: flex-start;
}

.info {
  font-weight: 600;
}

.profile-info p {
  margin: 0;
}

.profile-info div {
  margin: 30px 0;
}

@media screen and (max-width: 1300px) {
  .profile-container {
    margin: 2rem 0;
    width: 350px;
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .profile-info {
    font-size: 15px;
  }
}