.album-content {
  display: flex;
  justify-content: space-evenly;
}

.black-loading-element {
  color: black;
}

.album-info {
  margin: 5rem;
  padding: 2rem;
  border: 1px solid red;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.album-content img {
  width: 200px;
  height: 200px;
}

.songs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  width: 400px;
  max-height: 600px;
  overflow: auto;
}
