.profile-edit-container {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-container {
  padding: 6rem;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(248,142,154,1) 0%, rgba(240,13,126,1) 100%);
}

.profile-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-photo-container input {
  width: 100%;
  margin-top: 20px;
  height: 25px;
  border: 0;
  border-radius: 5px;
}

.profile-edit-container form label {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  color: white;
}

.profile-edit-container form label > input {
  margin-top: 10px;
  height: 25px;
  border: 0;
  border-radius: 5px;
}

.profile-edit-container form textarea {
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
}

.profile-edit-container form textarea::placeholder {
  font-family: ubuntu;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  border-style: none;
  background-color: black;
  color: white;
  width: 120px;
  font-family: poppins, sans-serif;
  height: 35px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 1s;
}

.button-container button:hover:enabled {
  background-color: rgb(70, 69, 69);
  color: white;
  cursor: pointer;
  transform: scale(1.2);
}

.button-container button:disabled {
  cursor: default;
  background-color: rgb(187, 185, 185);
  opacity: 80%;
}

@media screen and (max-width: 600px) {
  .edit-container {
    padding: 3rem;
  }
  
  .profile-photo-container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 450px) {
  .edit-container {
    margin: 20px;
    padding: 3rem;
    padding-bottom: 10rem;
    width: 300px;
    height: 400px;
  }
  
  .profile-photo-container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}